{
  "openapi": "3.1.0",
  "info": {
    "title": "dogeos-api",
    "version": "1.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://dogeos-testnet.unifra.io/v1"
    }
  ],
  "components": {
    "securitySchemes": {},
    "schemas": {
      "TraceObject": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "gas": {
            "type": "string"
          },
          "gasUsed": {
            "type": "string"
          },
          "input": {
            "type": "string"
          },
          "output": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "revertReason": {
            "type": "string"
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceObject"
            }
          }
        }
      },
      "Tracer": {
        "type": "object",
        "properties": {
          "tracer": {
            "type": "string",
            "enum": [
              "callTracer",
              "prestateTracer"
            ]
          },
          "tracerConfig": {
            "type": "object",
            "properties": {
              "onlyTopCall": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {}
  ],
  "paths": {
    "/{your-api-key}/debug_getRawReceipts": {
      "post": {
        "summary": "debug_getRawReceipts",
        "description": "This method not supported by dogeos",
        "operationId": "debug_getRawReceipts",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "debug_getRawReceipts",
                    "default": "debug_getRawReceipts"
                  },
                  "params": {
                    "type": "array",
                    "example": [],
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This method is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/debug_traceBlockByHash": {
      "post": {
        "summary": "debug_traceBlockByHash",
        "description": "similar to debug_traceBlockByNumber",
        "operationId": "debug_traceBlockByHash",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "The block hash to trace.",
                        "example": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                        "default": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                      },
                      {
                        "type": "object",
                        "description": "Tracer options.",
                        "properties": {
                          "tracer": {
                            "type": "string",
                            "example": "callTracer",
                            "default": "callTracer"
                          },
                          "tracerConfig": {
                            "type": "object",
                            "properties": {
                              "onlyTopCall": {
                                "type": "boolean"
                              },
                              "withLog": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "default": [
                      "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gas": {
                                "type": "string"
                              },
                              "gasUsed": {
                                "type": "string"
                              },
                              "input": {
                                "type": "string"
                              },
                              "output": {
                                "type": "string"
                              },
                              "calls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "from": {
                                      "type": "string"
                                    },
                                    "to": {
                                      "type": "string"
                                    },
                                    "gas": {
                                      "type": "string"
                                    },
                                    "gasUsed": {
                                      "type": "string"
                                    },
                                    "input": {
                                      "type": "string"
                                    },
                                    "output": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/debug_traceBlockByNumber": {
      "post": {
        "summary": "debug_traceBlockByNumber",
        "description": "",
        "operationId": "debug_traceBlockByNumber",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "debug_traceBlockByNumber",
                    "default": "debug_traceBlockByNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "The block number to trace.",
                          "example": "0x2fa00"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "tracer": {
                              "type": "string",
                              "example": "callTracer"
                            },
                            "tracerConfig": {
                              "type": "object",
                              "properties": {
                                "onlyTopCall": {
                                  "type": "boolean"
                                },
                                "withLog": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "0x2fa00"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gas": {
                                "type": "string"
                              },
                              "gasUsed": {
                                "type": "string"
                              },
                              "input": {
                                "type": "string"
                              },
                              "output": {
                                "type": "string"
                              },
                              "calls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "from": {
                                      "type": "string"
                                    },
                                    "to": {
                                      "type": "string"
                                    },
                                    "gas": {
                                      "type": "string"
                                    },
                                    "gasUsed": {
                                      "type": "string"
                                    },
                                    "input": {
                                      "type": "string"
                                    },
                                    "output": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/debug_traceCall": {
      "post": {
        "summary": "debug_traceCall",
        "description": "",
        "operationId": "debug_traceCall",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "debug_traceCall",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "example": "0x871f1181AA63c988325539cF4b502E092595B50E"
                            },
                            "to": {
                              "type": "string",
                              "example": "0x5300000000000000000000000000000000000002"
                            },
                            "gas": {
                              "type": "string"
                            },
                            "gasPrice": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "description": "block hash, block number, or block tag"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "tracer": {
                              "type": "string"
                            },
                            "tracerConfig": {
                              "type": "object",
                              "properties": {
                                "onlyTopCall": {
                                  "type": "boolean"
                                },
                                "withLog": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "$ref": "#/components/schemas/TraceObject"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/debug_traceCallMany": {
      "post": {
        "summary": "debug_traceCallMany",
        "description": "This method not supported by dogeos",
        "operationId": "debug_traceCallMany",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "debug_traceCallMany",
                    "default": "debug_traceCallMany"
                  },
                  "params": {
                    "type": "array",
                    "example": [],
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This method is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/debug_traceTransaction": {
      "post": {
        "summary": "debug_traceTransaction",
        "description": "",
        "operationId": "debug_traceTransaction",
        "tags": [
          "debug-api"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "debug_traceTransaction",
                    "default": "debug_traceTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "The transaction hash to trace.",
                          "example": "0x493650c1985b3bd12dccb9a70edaa6cd70366d0acdb13af5343c1a31f1272aa9"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "tracer": {
                              "type": "string",
                              "example": "callTracer"
                            },
                            "tracerConfig": {
                              "type": "object",
                              "properties": {
                                "onlyTopCall": {
                                  "type": "boolean"
                                },
                                "withLog": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "0x493650c1985b3bd12dccb9a70edaa6cd70366d0acdb13af5343c1a31f1272aa9"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "$ref": "#/components/schemas/TraceObject"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_blockNumber": {
      "post": {
        "summary": "eth_blockNumber",
        "description": "Returns the number of the most recent block.",
        "operationId": "eth_blockNumber",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_blockNumber",
                    "default": "eth_blockNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "maxItems": 0
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The current block number.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "string",
                      "example": "0x348f3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_call": {
      "post": {
        "summary": "eth_call",
        "description": "Executes a new message call immediately without creating a transaction on the block chain.",
        "operationId": "eth_call",
        "tags": [
          "EVM / Execution",
          "Account"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_call",
                    "default": "eth_call"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "example": "0x871f1181AA63c988325539cF4b502E092595B50E"
                            },
                            "to": {
                              "type": "string",
                              "example": "0x5300000000000000000000000000000000000002"
                            },
                            "gas": {
                              "type": "string"
                            },
                            "gasPrice": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "description": "integer block number, or the string \"latest\", \"earliest\" or \"pending\""
                        }
                      ]
                    }
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The return value of executed contract.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "example": "0x"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_chainId": {
      "post": {
        "summary": "eth_chainId",
        "description": "Returns the currently configured chain ID, a value used in replay-protected transaction signing as introduced by EIP-155.",
        "operationId": "eth_chainId",
        "tags": [
          "Chain Information",
          "EVM / Execution"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "description": "The version of the JSON-RPC protocol.",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "description": "The name of the method to be called.",
                    "example": "eth_chainId",
                    "default": "eth_chainId"
                  },
                  "params": {
                    "type": "array",
                    "description": "A list of parameters to pass to the method.",
                    "items": {},
                    "maxItems": 0
                  },
                  "id": {
                    "type": "integer",
                    "description": "A unique identifier for the request.",
                    "example": 83,
                    "default": 83
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The current chain ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 83
                    },
                    "result": {
                      "type": "string",
                      "description": "Integer of the current chain ID.",
                      "example": "0x518935"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_estimateGas": {
      "post": {
        "summary": "eth_estimateGas",
        "description": "Generates and returns an estimate of how much gas is necessary to allow the transaction to complete. The transaction will not be added to the blockchain.",
        "operationId": "eth_estimateGas",
        "tags": [
          "Gas",
          "EVM / Execution"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_estimateGas",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "example": "0x871f1181AA63c988325539cF4b502E092595B50E"
                            },
                            "to": {
                              "type": "string",
                              "example": "0x5300000000000000000000000000000000000002"
                            },
                            "gas": {
                              "type": "string"
                            },
                            "gasPrice": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "description": "integer block number, or the string \"latest\", \"earliest\" or \"pending\""
                        }
                      ]
                    }
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The amount of gas used.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "example": "0x5208"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_feeHistory": {
      "post": {
        "summary": "eth_feeHistory",
        "description": "Returns a collection of historical gas information",
        "operationId": "eth_feeHistory",
        "tags": [
          "Gas",
          "Blocks"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_feeHistory",
                    "default": "eth_feeHistory"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "integer",
                          "description": "Number of blocks in the requested range. Between 1 and 1024."
                        },
                        {
                          "type": "string",
                          "description": "Highest number block of the requested range.",
                          "example": "0x2fa00"
                        },
                        {
                          "type": "array",
                          "description": "A monotonically increasing list of percentile values.",
                          "items": {
                            "type": "integer"
                          }
                        }
                      ]
                    }
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A collection of historical gas information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "oldestBlock": {
                          "type": "string"
                        },
                        "baseFeePerGas": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gasUsedRatio": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "reward": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_gasPrice": {
      "post": {
        "summary": "eth_gasPrice",
        "description": "Returns the current price per gas in wei.",
        "operationId": "eth_gasPrice",
        "tags": [
          "Gas"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_gasPrice",
                    "default": "eth_gasPrice"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "maxItems": 0
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The current gas price in wei.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "string",
                      "example": "0x4a1645e9a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getBlockByHash": {
      "post": {
        "summary": "eth_getBlockByHash",
        "description": "Returns information about a block by hash.",
        "operationId": "eth_getBlockByHash",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getBlockByHash",
                    "default": "eth_getBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the block hash and a boolean indicating if full transaction objects should be returned.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Hash of a block.",
                        "example": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                        "default": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                      },
                      {
                        "type": "boolean",
                        "description": "If true, returns full transaction objects; if false, returns only transaction hashes.",
                        "example": true,
                        "default": true
                      }
                    ],
                    "default": [
                      "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                      true
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A block object with the following fields, or null when no block was found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "parentHash": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "sha3Uncles": {
                          "type": "string"
                        },
                        "logsBloom": {
                          "type": "string"
                        },
                        "transactionsRoot": {
                          "type": "string"
                        },
                        "stateRoot": {
                          "type": "string"
                        },
                        "receiptsRoot": {
                          "type": "string"
                        },
                        "miner": {
                          "type": "string"
                        },
                        "difficulty": {
                          "type": "string"
                        },
                        "totalDifficulty": {
                          "type": "string"
                        },
                        "extraData": {
                          "type": "string"
                        },
                        "size": {
                          "type": "string"
                        },
                        "gasLimit": {
                          "type": "string"
                        },
                        "gasUsed": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "string",
                                "description": "Transaction hash"
                              },
                              {
                                "type": "object",
                                "description": "Full transaction object"
                              }
                            ]
                          }
                        },
                        "uncles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getBlockByNumber": {
      "post": {
        "summary": "eth_getBlockByNumber",
        "description": "Returns information about a block by block number.",
        "operationId": "eth_getBlockByNumber",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getBlockByNumber",
                    "default": "eth_getBlockByNumber"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the block number/tag and a boolean indicating if full transaction objects should be returned.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Integer of a block number, or the string \"earliest\", \"latest\" or \"pending\".",
                        "example": "0x2fa00",
                        "default": "latest"
                      },
                      {
                        "type": "boolean",
                        "description": "If true, returns full transaction objects; if false, returns only transaction hashes.",
                        "example": true,
                        "default": true
                      }
                    ],
                    "default": [
                      "0x2fa00",
                      true
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A block object, or null when no block was found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "parentHash": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "sha3Uncles": {
                          "type": "string"
                        },
                        "logsBloom": {
                          "type": "string"
                        },
                        "transactionsRoot": {
                          "type": "string"
                        },
                        "stateRoot": {
                          "type": "string"
                        },
                        "receiptsRoot": {
                          "type": "string"
                        },
                        "miner": {
                          "type": "string"
                        },
                        "difficulty": {
                          "type": "string"
                        },
                        "totalDifficulty": {
                          "type": "string"
                        },
                        "extraData": {
                          "type": "string"
                        },
                        "size": {
                          "type": "string"
                        },
                        "gasLimit": {
                          "type": "string"
                        },
                        "gasUsed": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "string",
                                "description": "Transaction hash"
                              },
                              {
                                "type": "object",
                                "description": "Full transaction object"
                              }
                            ]
                          }
                        },
                        "uncles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getBlockTransactionCountByHash": {
      "post": {
        "summary": "eth_getBlockTransactionCountByHash",
        "description": "Returns the number of transactions in a block matching the given block hash.",
        "operationId": "eth_getBlockTransactionCountByHash",
        "tags": [
          "Blocks",
          "Transactions"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getBlockTransactionCountByHash",
                    "default": "eth_getBlockTransactionCountByHash"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the hash of a block.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "The hash of a block.",
                        "example": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                        "default": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                      }
                    ],
                    "default": [
                      "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integer of the number of transactions in this block.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "string",
                      "example": "0x1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getBlockTransactionCountByNumber": {
      "post": {
        "summary": "eth_getBlockTransactionCountByNumber",
        "description": "Returns the number of transactions in a block matching the given block number.",
        "operationId": "eth_getBlockTransactionCountByNumber",
        "tags": [
          "Blocks",
          "Transactions"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getBlockTransactionCountByNumber",
                    "default": "eth_getBlockTransactionCountByNumber"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the block number or tag.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Integer of a block number, or the string \"earliest\", \"latest\" or \"pending\".",
                        "example": "0x2fa00",
                        "default": "latest"
                      }
                    ],
                    "default": [
                      "0x2fa00"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integer of the number of transactions in this block.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "string",
                      "example": "0x1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getCode": {
      "post": {
        "summary": "eth_getCode",
        "description": "Returns code at a given address.",
        "operationId": "eth_getCode",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "description": "The version of the JSON-RPC protocol.",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "description": "The name of the method to be called.",
                    "example": "eth_getCode",
                    "default": "eth_getCode"
                  },
                  "params": {
                    "type": "array",
                    "description": "A list of parameters to pass to the method.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Address to check for code.",
                        "example": "0x5300000000000000000000000000000000000002",
                        "default": "0x5300000000000000000000000000000000000002"
                      },
                      {
                        "type": "string",
                        "description": "Integer block number, or the string \"latest\", \"earliest\" or \"pending\".",
                        "example": "latest",
                        "default": "latest"
                      }
                    ],
                    "default": [
                      "0x5300000000000000000000000000000000000002",
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "description": "A unique identifier for the request.",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The code from the given address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "The version of the JSON-RPC protocol.",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "description": "The unique identifier for the request.",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The code from the given address.",
                      "example": "0x"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getFilterChanges": {
      "post": {
        "summary": "eth_getFilterChanges",
        "description": "Polling method for a filter, which returns an array of logs which occurred since last poll.",
        "operationId": "eth_getFilterChanges",
        "tags": [
          "Logs and Filters"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getFilterChanges",
                    "default": "eth_getFilterChanges"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the filter ID.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "The filter ID.",
                        "example": "0x91a172927680e015c4ec1ecbc78d57f6",
                        "default": "0x91a172927680e015c4ec1ecbc78d57f6"
                      }
                    ],
                    "default": [
                      "0xdcd0356429b47aec244cfe689f816a89"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 73,
                    "default": 73
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of log objects, or an empty array if nothing has changed since last poll.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 73
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "removed": {
                                "type": "boolean"
                              },
                              "logIndex": {
                                "type": "string"
                              },
                              "transactionIndex": {
                                "type": "string"
                              },
                              "transactionHash": {
                                "type": "string"
                              },
                              "blockHash": {
                                "type": "string"
                              },
                              "blockNumber": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          {
                            "type": "string",
                            "description": "block hash or transaction hash"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getFilterLogs": {
      "post": {
        "summary": "eth_getFilterLogs",
        "description": "Returns an array of all logs matching filter with given id.",
        "operationId": "eth_getFilterLogs",
        "tags": [
          "Logs and Filters"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getFilterLogs",
                    "default": "eth_getFilterLogs"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the filter ID.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "The filter ID.",
                        "example": "0x91a172927680e015c4ec1ecbc78d57f6",
                        "default": "0x91a172927680e015c4ec1ecbc78d57f6"
                      }
                    ],
                    "default": [
                      "0xdcd0356429b47aec244cfe689f816a89"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 74,
                    "default": 74
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of log objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 73
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "removed": {
                            "type": "boolean"
                          },
                          "logIndex": {
                            "type": "string"
                          },
                          "transactionIndex": {
                            "type": "string"
                          },
                          "transactionHash": {
                            "type": "string"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getLogs": {
      "post": {
        "summary": "eth_getLogs",
        "description": "Returns an array of all logs matching a given filter object.",
        "operationId": "eth_getLogs",
        "tags": [
          "Logs and Filters"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getLogs",
                    "default": "eth_getLogs"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fromBlock": {
                          "type": "string",
                          "example": "0x2fa00"
                        },
                        "toBlock": {
                          "type": "string",
                          "example": "0x2fa00"
                        },
                        "address": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": "0x5300000000000000000000000000000000000002"
                        },
                        "topics": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        },
                        "blockHash": {
                          "type": "string"
                        }
                      }
                    },
                    "default": [
                      {
                        "fromBlock": "0x2fa00",
                        "toBlock": "0x2fa00",
                        "address": "0x5300000000000000000000000000000000000002"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of log objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "removed": {
                            "type": "boolean"
                          },
                          "logIndex": {
                            "type": "string"
                          },
                          "transactionIndex": {
                            "type": "string"
                          },
                          "transactionHash": {
                            "type": "string"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getProof": {
      "post": {
        "summary": "eth_getProof",
        "description": "Returns the account and storage values of the specified account including the Merkle-proof.",
        "operationId": "eth_getProof",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "description": "The version of the JSON-RPC protocol.",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "description": "The name of the method to be called.",
                    "example": "eth_getProof",
                    "default": "eth_getProof"
                  },
                  "params": {
                    "type": "array",
                    "description": "A list of parameters to pass to the method.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Address of the account.",
                        "example": "0x871f1181AA63c988325539cF4b502E092595B50E",
                        "default": "0x871f1181AA63c988325539cF4b502E092595B50E"
                      },
                      {
                        "type": "array",
                        "description": "Array of storage-keys which should be proofed and included.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                        ],
                        "default": [
                          "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                        ]
                      },
                      {
                        "type": "string",
                        "description": "Integer block number, or the string \"latest\" or \"earliest\".",
                        "example": "latest",
                        "default": "latest"
                      }
                    ],
                    "default": [
                      "0x871f1181AA63c988325539cF4b502E092595B50E",
                      [
                        "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                      ],
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "description": "A unique identifier for the request.",
                    "example": 1,
                    "default": 1
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account and storage values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "string",
                          "description": "The balance of the account.",
                          "example": "0x0"
                        },
                        "codeHash": {
                          "type": "string",
                          "description": "Hash of the code of the account.",
                          "example": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                        },
                        "nonce": {
                          "type": "string",
                          "description": "Nonce of the account.",
                          "example": "0x0"
                        },
                        "storageHash": {
                          "type": "string",
                          "description": "SHA3 of the StorageRoot.",
                          "example": "0x0000000000000000000000000000000000000000000000000000000000000000"
                        },
                        "accountProof": {
                          "type": "array",
                          "description": "Array of rlp-serialized MerkleTree-Nodes.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "storageProof": {
                          "type": "array",
                          "description": "Array of storage-entries as requested.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "the requested storage key"
                              },
                              "value": {
                                "type": "string",
                                "description": "the storage value"
                              },
                              "proof": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood by the server due to malformed syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{your-api-key}/eth_getTransactionByBlockHashAndIndex": {
      "post": {
        "summary": "eth_getTransactionByBlockHashAndIndex",
        "description": "Returns information about a transaction by block hash and transaction index position.",
        "operationId": "eth_getTransactionByBlockHashAndIndex",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "your-api-key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getTransactionByBlockHashAndIndex",
                    "default": "eth_getTransactionByBlockHashAndIndex"
                  },
                  "params": {
                    "type": "array",
                    "description": "An array containing the block hash and the transaction index position.",
                    "prefixItems": [
                      {
                        "type": "string",
                        "description": "Hash of a block.",
                        "example": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                        "default": "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2"
                      },
                      {
                        "type": "string",
                        "description": "Integer of the transaction index position.",
                        "example": "0x0",
                        "default": "0x0"
                      }
                    ],
                    "default": [
                      "0xc3826b13f837595ca9141a32a2f1472d2bcf6e6db76b9df6956d5e1af7da5ed2",
                      "0x0"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A transaction object, or null when no transaction was found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "blockHash": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "gas": {
                          "type": "string"
                        },
                        "gasPrice": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "input": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
[...]
